.wordclouds-container(ng-controller="NgramsCtrl as nc")
  .container-generic-tan
    a(href="/")
      img.ftl-logo(src="./assets/img/logo-medium-blue.svg")
    h1.text-center 
      span CASELAW ACCESS PROJECT 
    h4.text-center
      | EXPLORE THE WORDS!
      br
      span.blue-text 
        a.read-more(
          href="http://librarylab.law.harvard.edu/projects/free-the-law"
          target="_blank") read more...

  .container-generic
    .container.alert.alert-warning(ng-if="nc.error")
      ul.col-sm-8.col-centered
        li(style="float: left;" ng-repeat="error in nc.error track by $index")
          | "{{error.toUpperCase()}}" &nbsp;
          span(ng-if="($index > -1) && ($index < nc.error.length - 1)") AND &nbsp; 
        span(ng-if="nc.error.length > 1") WERE NOT FOUND
        span(ng-if="nc.error.length == 1") WAS NOT FOUND
    .ngram-input-container.col-sm-10.col-centered
      input.ngram-input.col-sm-10(ng-model="nc.words")
      button.ngram-button.btn-default.btn(ng-click="nc.findWords()") SEARCH
    //- rzslider.slider(
    //-   rz-slider-model="slider.value"
    //-   rz-slider-options="slider.options")
    
    
    .col-sm-10.col-centered
      //- GRAPH
      nvd3.single-topic-graph(
        ng-if="nc.graph.data"
        options="nc.graph.options"
        data="nc.graph.data"
        config="nc.graph.config"
        api="nc.graph.api")
