
.single-topic-container(ng-controller="TopicCtrl as st")
  .border-gray
  .section-icon
  .row
    .col-sm-12
      .single-topic-header(ng-if="st.topicKeywords")
        .title
          span {{st.currentTopic}} 
          span.blue-text DETAILS
        h4 KEYWORDS
        .subtitle
          .keyword-container(ng-repeat="keyword in st.topicKeywords track by $index")
            span.keyword {{keyword}}
  br
  form.single-topic-form
    label FROM
    input(
      type="number"
      min="1850"
      ng-model="st.minYear"
      ng-max="st.maxYear"
      ng-blur="st.parseTopicData()"
      ng-keyup="$event.keyCode == 13 && st.parseTopicData()") 
    label TO
    input(
      type="number"
      max="2015" 
      ng-min="st.minYear"
      ng-model="st.maxYear"
      ng-blur="st.parseTopicData()"
      ng-keyup="$event.keyCode == 13 && st.parseTopicData()") 
  a(name="topic") &nbsp;
  nvd3(
    options="st.options"
    data="st.data"
    config="st.config"
    api="st.api")
