//- single-topic.tpl.jade
.single-topic-container(ng-controller="TopicCtrl as st")
  .col-sm-12
    .topic-header(ng-if="st.currentTopic")
      a(name="singletopic") &nbsp;
      .title

        span {{st.currentTopic}}
            

        span
          |  FROM 
        span
          input(
            type="number"
            min="1800"
            ng-model="st.time.min"
            ng-max="st.time.max"
            ng-blur="st.parseTopicData()"
            ng-keyup="$event.keyCode == 13 && st.parseTopicData()") 
        span 
        |  TO 
        span
          input(
            type="number"
            max="2015" 
            ng-min="st.time.min"
            ng-model="st.time.max"
            ng-blur="st.parseTopicData()"
            ng-keyup="$event.keyCode == 13 && st.parseTopicData()") 
        

  .col-sm-2.topic-menu
      ul
        li.single-topic(
          ng-repeat="(topic,val) in st.topics"
          ng-click='st.changeCurrentTopic(topic)'
          ng-class="{'selected':st.currentTopic == topic}")
          | {{ topic }}
  .col-sm-10
    //- GRAPH
    nvd3.single-topic-graph(
      ng-if="st.graph.data"
      options="st.graph.options"
      data="st.graph.data"
      config="st.graph.config"
      api="st.graph.api")
    
    .topic-legend-container
      .topic-legend-content
        .legend-item
          .color-spot.case-one
          span.item-title Supreme Court cases
        .legend-item
          .color-spot.case-two
          span.item-title Appeals Court cases
        .legend-item
          .color-spot.dissent-one
          span.item-title Supreme Court dissents
        .legend-item
          .color-spot.dissent-two
          span.item-title Appeals Court dissents

    
    .keyword-list
      | Keywords: {{st.topicKeywords.join(', ')}}
