//- single-topic.tpl.jade
.single-topic-container(ng-controller="TopicCtrl as st")
  .row
    .col-sm-12
      .single-topic-header(ng-if="st.topicKeywords")
        .title
          span {{st.currentTopic}}
          a(name="singletopic") &nbsp;
          span.blue-text IN DETAIL
  form.date-form(ng-if="st.currentTopic")
    label Showing data from 
    input(
      type="number"
      min="1800"
      ng-model="st.time.min"
      ng-max="st.time.max"
      ng-blur="st.parseTopicData()"
      ng-keyup="$event.keyCode == 13 && st.parseTopicData()") 
    label to
    input(
      type="number"
      max="2015" 
      ng-min="st.time.min"
      ng-model="st.time.max"
      ng-blur="st.parseTopicData()"
      ng-keyup="$event.keyCode == 13 && st.parseTopicData()") 
  
  .graph-top-container.col-sm-12
    button.regular-btn.btn.show-menu.dropdown-topic-list(
      ng-click="(st.showMenu = !st.showMenu)"
    ) PICK A DIFFERENT TOPIC
    .dropdown-topic-menu.dropdown-topic-list(
      click-off show="st.showMenu" excluding='dropdown-topic-list' ng-if="st.showMenu")
      ul(ng-repeat="(topic,val) in st.topics" data-show='show')
        li.single-topic(ng-click='st.changeCurrentTopic(topic)' ng-class="{'selected':val.selected}")
          | {{ topic }}
          
  //- GRAPH
  nvd3(
    options="st.graph.options"
    data="st.graph.data"
    config="st.graph.config"
    api="st.graph.api")
  
  .topic-legend-container.col-sm-12
    .topic-legend-content.text-center
      .legend-item
        .color-spot.case-one
        span.item-title Supreme Court cases
      .legend-item
        .color-spot.case-two
        span.item-title Appeals Court cases
      .legend-item
        .color-spot.dissent-one
        span.item-title Supreme Court dissents
      .legend-item
        .color-spot.dissent-two
        span.item-title Appeals Court dissents

    
  .col-sm-12.keyword-list
    | Keywords: {{st.topicKeywords.join(', ')}}
