.wordclouds-container(ng-controller="WordcloudsCtrl as wc")
  .container-generic-tan.wordclouds-title-container
    a.container-title-logo(href="/")
      img.ftl-logo(src="./assets/img/logo-medium-blue.svg")
    h1.text-center 
      span CASELAW ACCESS PROJECT 
    h4.text-center
      | Explore the wordclouds!
      br
      span.blue-text 
        a.read-more(
          href="http://librarylab.law.harvard.edu/projects/caselaw-access-project"
          target="_blank") read more...
  
  .container-generic
    .col-sm-4
      .btn-group.col-centered(style="margin-bottom: 30px; position: relative;")
        span(ng-if="wc.currentState", data-toggle="dropdown")
          button.blue-button.dropdown-toggle(
            type="button"
            aria-haspopup="true"
            aria-expanded="false")
            | {{wc.currentState.toUpperCase()}} WORDCLOUDS
        span(ng-if="!wc.currentState", data-toggle="dropdown")
          button.btn.btn-default.dropdown-toggle(
            type="button"
            
            aria-haspopup="true"
            aria-expanded="false")
            | SELECT A STATE

        ul.dropdown-menu
          li(ng-repeat="state in wc.states") 
            a(ng-click="wc.selectState(state)") {{state}}
    .col-sm-8
    .col-sm-12
      
      ul
        li.col-sm-4.wordcloud-item(ng-repeat="image in wc.images")
          label.col-sm-12(ng-if="image.indexOf('totals') > -1") {{image.substr(image.length - 10)}}
          label.col-sm-12(ng-if="image.indexOf('totals') < 0") {{image.substr(image.length - 8)}}
          a.col-sm-12(href="{{image}}")
            img.col-sm-12.wordcloud-images(src="{{image}}")
